/***************************************************************************************************************
Copyright 2017 Valentin Müller für Vavado 
****************************************************************************************************************/
/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 1+++++++++++++++++++++ Gallerie                       ++++++++++++++++++++++ */
/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	div.bigpicture {
		position: absolute;
		top: 0; 
		left: 0;
		width: 580px;
		height: 440px;
		text-align: center;
		border-color: #013c61;
		display: none;
		transition: all 3s ease 0s;
	}
	div.bigpicture:target {
		display: inline;
	}
	div.smallpicture:hover, div.smallpicture:active {
		opacity:1;
	}	
	
	div.smallpicture {
		opacity: 0.5;
		
	}	
	
	div.bigpicture img {
	    vertical-align: middle;
		border: 0 none;
		max-width: 400px;
		
		
	}
	
	div.bigpicture span {
	    width: 10px;
		height: 100%;
		display: inline-block;
		margin-left: -10px;
		vertical-align: middle;
	}
/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 1+++++++++++++++++++++ ende                           ++++++++++++++++++++++ */
/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 1+++++++++++++++++++++ ein- und ausblenden der Module ++++++++++++++++++++++ */
/* 1+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Favoriten Newsletter beobachten -links können einzeln an und aus gestellt werden*/
div#favnews {display:;}
#beobachten {display:;}
#favorit {display:;}
#newsletter {display:;}

/* Suchbox im kopf oder links / nur eine darf sichtbar sein */
#kopfzeile .suche	 {display:;}
#linke_spalte .suche {display:none;}

/* Module in den Spalten (kleine Boxen) */
#shopinfo {display:;}
#impressum {display: none;}
#extra {display:none;}

/* BlindBoxen in den Spalten (kleine Boxen) */
#blind_rechts, #blind_links {display:;}

/* Module in der Mitte (große Boxen) */
#datenschutz {display:;}
#kaufabwicklung {display:;}
#versand {display:;}
#widerruf {display:;}
#impressum_grbox {display:;}

/* zusätzlich an- und abschaltbare Elemente*/
.agb_satz {display:;}

/* aus-/einblenden der Kopf- und Fussnavigationselemente  */
li.kopfnavi_shop {display:;}
li.kopfnavi_versand {display:;}
li.kopfnavi_kauf {display:;}
li.kopfnavi_agb {display:;}
li.kopfnavi_mich {display:;}
li.kopfnavi_imp {display:;}

a.fussnavi_shop {display:;}
a.fussnavi_versand {display:;}
a.fussnavi_kauf {display:;}
a.fussnavi_agb {display:;}
a.fussnavi_mich {display:;}
a.fussnavi_imp {display:;}

/* 2+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 2+++++++++++++++++ Styling und Auswahl der Kopfnavigation ++++++++++++++++++ */
/* 2+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* normale kopfnavi angepasst an die inhalte der buttons */
#kopfnavi {
top:; 
left:0px; 
right:; 
bottom:15px; 
height:40px;
}

#kopfnavi ol li a, #kopfnavi ol li a:visited {
background: url(gfx/kopfnavi-bg.gif);
background-position: right;
background-repeat: no-repeat;
padding: 0px 20px 0px 20px; 
font-family: 'Dosis', verdana; 
font-size: 16px; 
font-weight: normal;
height:40px; 
line-height:40px;
color:#504D4D; 
text-decoration:none;
text-align:center;
}

#kopfnavi ol li a:hover {
background: url(gfx/kopfnavi-bg-hover.gif);
background-repeat: no-repeat;
background-position: right;
font-family: 'Dosis', verdana; 
font-size: 16px; 
color:#ff4304; 
font-weight: normal; 
text-decoration:none; 
line-height:40px;
}

/* Alternative Kopfnavi breite angepasst an das Elternelement (div#kopfnavi) zum einsetzten bekommt das div#kopfnavi eine feste Breite 
DIE ANDEREN WERTE BLEIBEN IMMER GLEICH*/
/*
#kopfnavi {width:990px;}
#kopfnavi ol li {width:16.6%}
#kopfnavi ol li a {width:100% !important}
#kopfnavi ol li a, #kopfnavi ol li a:visited {padding: 0px;}

/* 4+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 4++++++++++++++++++ Styling der Kopfzeile und der 3Spalten +++++++++++++++++ */
/* 4+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* Kopfzeile */
#kopfzeile {
height:280px;
background:url(gfx/kopfzeile-bg.gif);
}

#arbeitsbereich {background: #1e1e1e;}

/* über das Logo schieben für den Shop-Startseiten Link */
a.logolink {
height: 127px;
    left: 29px;
    top: 51px;
    width: 268px;
}

/* über die Mail im Kopf schieben für Mailverlinkung */
a.maillink {
display:none;
position:absolute;
width:100px;
height:100px;
top:100px;
left:300px;
border: 1px #000000 solid;
}

/* hier kann im Spezialfall das DIV mit dem Favoriten-, Newsletter-... link umpositioniert werden dann entsteht ein weißraum über dem Template */
#favnews {font-family: arial; font-weight: normal; font-size: 11px; color:#ffffff; text-align: left;}

/* Balken hinter der Kopfzeile */
#head_bg {display: none;}

#favnews a, #favnews a:visited {
font-family:verdana !important;
font-weight:normal !important;
font-size:11px !important;
color:#ffffff;
text-decoration:none;
}

#favnews a:hover {
font-family: arial;
font-weight: normal;
font-size: 11px;
color:#ffffff;
text-decoration:underline;
}

#beobachten {
padding-right:;}
#favorit {
padding-right:;}
#newsletter {
padding-right:;}

#kopfzeile .suche {
top:234px;
right:;
bottom:;
left:712px;
}

.suche-kopf-content {}

/* die 3 Spalten */
#linke_spalte, #dummy_box {background:url(gfx/spalte-links-bg.gif) repeat-y ;}
#rechte_spalte {background:url(gfx/spalte-rechts-bg.gif) repeat-y ;}
#mittlere_spalte {background:url(gfx/mittlere-spalte-bg.gif) repeat-y;}

/* Anfang UP: in IE zentriert; Fix 30.01.2008 */
*html #mittlere_spalte, *html #linke_spalte, *html #rechte_spalte {text-align: left;}

/* 5+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 5++++++++++++++++++++++ Definition der kleinen Boxen +++++++++++++++++++++++ */
/* 5+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 5++++++ Inhalte der Boxen werden über in der "p.1" Klasse definiert. +++++++ */

.klbox-kopf {height: 40px; background: url(gfx/klbox-kopf-bg.gif) no-repeat;}

.klbox-content {background:url(gfx/klbox-bg.gif);}

.klbox-kopf p {
font-family: 'Dosis', verdana;
font-size: 17px;
font-weight: normal;
color: #FFFFFF;
padding: 8px 0px 0px 13px;
}

.klbox-content p, .klbox-content div.p1 {
font-family: verdana;
font-size: 11px;
font-weight: normal;
color: #333333;
padding: 10px 8px 5px 8px;
}

#rechte_spalte .klbox-content p, #rechte_spalte .klbox-content div.p1 {padding:0px;}

.klbox-fuss {height: 20px; background: url(gfx/klbox-fuss.gif) no-repeat; font-size: 0px;}

/** Hier kann das Suchformular angepasst werden **/
/** Breite des Eingabefeldes und Abstand zwischen Eingabefeld und Button **/
/** Standard für linke Box: width:120px und margin-right:5px **/
#suche-eingabe {width:205px; margin-right:16px; background: none; border: none;}

#suche-btn {margin-bottom: -8px !important;}
*html #suche-btn {margin-top: 0px !important; margin-bottom: -5px !important;}
*+html #suche-btn {margin-top: 0px !important; margin-bottom: -5px !important;}

.bbox-kopf {background: url(gfx/bbox-kopf-bg.gif) no-repeat; height: 10px; font-size: 0px;}
.bbox-content {background:url(gfx/bbox-bg.gif);}
.bbox-fuss {background: url(gfx/bbox-fuss.gif) no-repeat; height: 20px; font-size: 0px;}

/** Kategorien einen anderen Kopf und Fuss zuweisen
#kategorien .klbox-kopf {background: url(gfx/klbox-kopf-bg2.gif) no-repeat;}
#kategorien .klbox-fuss {background: url(gfx/klbox-fuss2.gif) no-repeat;}
.kategorien_fuss .klbox-fuss {background: url(gfx/klbox-fuss2.gif) no-repeat;}
**/

#shopinfo .klbox-content div.p1 {text-align: center; padding: 0px;}
#impressum .klbox-content div.p1 a {color: #219b00; text-decoration: underline;}
#impressum .klbox-content div.p1 a:hover {color: #219b00; text-decoration: none;}
#impressum_grbox .grbox-content div.p1 a {color: #219b00; text-decoration: underline;}
#impressum_grbox .grbox-content div.p1 a:hover {color: #219b00; text-decoration: none;}
#crosspromotion .klbox-fuss, #shopinfo .klbox-kopf, #shopinfo .klbox-fuss, #extra01 .klbox-kopf {display:none;}

/* 6+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 6++++++++++++++++++++++ Definition der grossen Boxen +++++++++++++++++++++++ */
/* 6+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 6++++++ Inhalte der Boxen werden über in der "p.1" Klasse definiert. +++++++ */

.grbox-kopf {height: 40px; background:url(gfx/grbox-kopf-bg.gif) no-repeat;}

.grbox-content {background: url(gfx/grbox-bg.gif) repeat-y;}

.grbox-kopf p {
font-family: 'Dosis', verdana;
font-size: 25px;
font-weight: 500;
color: #ff4304;
padding: 5px 0px 0px 22px;
}

.grbox-content div.p1 {
font-family: verdana;
font-size: 12px;
font-weight: normal;
color: #333333;
padding: 5px 25px 5px 22px;
}

/* Anfang UP: eingefügt für Abwicklungsinfos 30.01.2008 */
/* DB: z.B.: Afterbuy-Logo 21.02.2008 */
.grbox-content .symbolbild {
width: 100px;
padding: 0px 0px 10px 0px; 
float: left;
}

.grbox-content .abwicklungsinfo { 
font-family: verdana;
font-size: 12px;
font-weight: normal;
padding: 0px 0px 10px 0px; 
} 

.grbox-content .clearfloating {clear: both; height: 15px;}

/* ENDE UP: eingefügt für Abwicklungsinfos 30.01.2008 */

#datenschutz .grbox-content p {
font-size: 11px;
color: #000000;
}

.grbox-fuss {height: 20px; background: url(gfx/grbox-fuss.gif) no-repeat; font-size: 0px;}

#printdiv {margin-top: 3px}
a#printlink {color:#000000 !important; background:url(gfx/print.gif) no-repeat right; }
a#printlink:hover {background:url(gfx/print-hover.gif) no-repeat right;}

#widerruf_box {
border:1px solid #919191; 
background-color: #ffe5bb;
font-family:verdana;
font-size:11px;
padding:2px 5px 2px 5px;
}

.agb_satz {
color:#000000; 
text-align: center; 
padding: 5px 0px 0px 0px !important; 
font-size: 11px; 
}

a.toplink {right:10px; width: 60px;}

/* 6+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 6++++++++++++++++++++++ Definition der Artikelbeschreibung +++++++++++++++++++++++ */
/* 6+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.artikelname {
width: 100%;
font-family: verdana;
font-size: 18px;
font-weight: bold;
color:;
padding-top: 0px;
}

*html .artikelname {padding-top: 8px;}

.artikelkurzbeschreibung {
width: 180px;
font-family: verdana;
font-size: 12px;
color:;
padding: 0px 0px 0px 10px;
}

.artikelbeschreibung {
font-family: verdana;
font-size: 12px;
color:;
}

.bilderlink {
font-family: verdana;
font-size: 10px;
font-weight:;
color:#000000;
padding-top: 8px;
}

/* 7++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 7+++++++++++++ Definition der Fusszeile inkl der Fussnavigation +++++++++++++ */
/* 7++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#fusszeile {text-align:left; height:70px; background:url(gfx/fusszeile-bg.gif) no-repeat #FFFFFF;}

#fussnavi {
width:100%;
line-height:18px;
text-align:center;
font-family: verdana;
font-size: 11px;
font-weight: normal;
color: #504D4D;
top:11px;
right:;
bottom:;
left:;
}

#fussnavi a {
font-family: 'Dosis', verdana;
font-size: 15px;
font-weight: normal;
color: #504D4D;
text-decoration: none;
padding: 0px 19px 0px 19px;
}

#fussnavi a:hover {text-decoration: underline;}

.copyright {padding-top:20px; color:#ffffff;}

#apa_logo {padding-bottom: 15px;}

/* 8++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* 8+++++++++++++++++++++++++++ Hauptnavigation ++++++++++++++++++++++++++++ */
/* 8++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/** #################################################### **/
/** ########### Allg. Einstellungen Flyout ############# **/

/** abstand innerhalb der box über und unter der navi **/
#mainnavi {padding-top:0px; padding-bottom:0px}

/** schriftdefinitionen **/
#mainnavi ol, ul#dd_navi{
	font-family: 'Dosis', verdana; 
	font-size:14px; 
	font-weight:normal; 
	color:#000000;
}

/** die line-height immer ein pixel weniger als die height **/
#mainnavi ol li {height:24px; line-height:23px;}
/** margin-top immer genau wie die height **/
#mainnavi ol li ol {margin-top:-24px;}

/** margin-left  immer 176px minus das innere padding IE6 und IE7 **/
#mainnavi ol li ol {margin-left:176px;}
html>head:first-child+body #mainnavi ol li ol {margin-left:176px;}

ul#dd_navi li{ margin:0px; padding:0px;}

/** ################################################## **/
/** ########### Allg. Einstellungen Shop ############# **/

/** allgemeiner kattable **/
table#StoreCategories, div.lcat {color:#000000; margin-top:34px;}
html>head:first-child+body table#StoreCategories{ margin-top:36px ;margin-bottom:-9px;}

.category b, .category a, .lcat b, .lcat a, .lcat, .link, .lcat li { font-family: 'Dosis', verdana !important; font-size:14px !important;}

table#StoreCategories, #mainnavi ol li, div.lcat {background:url(gfx/spalte-links-bg.gif);}
.category div {font-size:0px;}

table#StoreCategories a, div.lcat a, div.lcat span {text-decoration:none;}

/**blendet eBay Kategorieköpfe aus**/
#LeftPanel .v4acp_head {display: none;}

/**stylet zusätzliche Kategorien**/
.s_recat li {margin-top: 0px;}
.s_recat li span {display: none;}

/** ######################################## **/
/** ########### Hauptkategorie ############# **/

/** Hauptkategorie **/
a.all_cats, a.all_cats:visited, div.lcat div.ttl a, div.lcat div.ttl a:visited, ul.lev1 li a, ul.lev1 li a:visited, div.lcat div.link a, .kat00 a, .kat00 a:visited, .category b a, .category b a:visited, #mainnavi ol li a, #mainnavi ol li a:visited, a.katlink, a.katlink:visited, .s_recat li a, .s_recat li a:visited {
	background:url(gfx/navi-bg.gif) no-repeat;
	padding:0px 10px 0px 13px;
	line-height:23px;
	color:#504D4D !important;
	font-weight:normal;
	text-decoration:none !important;
	border-bottom: 1px solid #c3c3c3 !important;
	width:153px !important; 
	display:block;
}

/**margin-left: -padding-left px**/
div.lcat div.ttl a {margin-left:-13px !important}

/** Hover **/
a.all_cats:hover, div.lcat div.ttl a:hover, ul.lev1 li a:hover, div.lcat div.link a:hover, .kat00 a:hover, .category b a:hover, #mainnavi ol li a:hover, a.katlink:hover, a.katlink_on, a.katlink_on:visited, a.katlink_on:hover, .s_recat li a:hover {
	background:url(gfx/navi-bg-hover.gif) no-repeat;
	padding:0px 10px 0px 13px;
	line-height:23px;
	color:#ff4304 !important;
	font-weight:normal;
	text-decoration:none !important;
	border-bottom: 1px solid #c3c3c3 !important;
	width:153px !important;
	display:block;
}

/** Aktiv **/
ul.lev1 li span, div.lcat div.ttl, div.lcat div.link a, .kat00_on b, .category b, a.katlink_on, a.katlink_on:visited, a.katlink_on:hover, .s_recat li a:hover {
	background:url(gfx/navi-bg-hover.gif) no-repeat;
	padding:0px 10px 0px 13px;
	line-height:23px;
	color:#ff4304 !important;
	font-weight:normal;
	text-decoration:none !important;
	border-bottom: 1px solid #c3c3c3 !important;
	width:153px !important;
	display:block;
}

/** ########################################### **/
/** ########### 1. Unterkategorie ############# **/

/* 1. Unterkategorien */

ul.lev2 li a, ul.lev2 li a:visited, .category a, .category a:visited, .kat01 a, .kat01 a:visited, a.subkat1, a.subkat1:visited {
	background:url(gfx/navi-bg2.gif) no-repeat; 
	padding: 0px 10px 0px 26px !important; 
	line-height:24px; 
	color:#ff4304 !important; 
	font-weight:normal;
	text-decoration: none; 
	border-bottom: 0px solid #ffffff !important;
	width:140px !important;
	display:block;
}

/** Hover **/
ul.lev2 li a:hover, .category a:hover, .kat01 a:hover, a.subkat1:hover {
	background:url(gfx/navi-bg-hover2.gif) no-repeat;
	padding: 0px 10px 0px 26px !important; 
	line-height:24px; 
	color:#504D4D !important;  
	font-weight:normal;
	text-decoration:none; 
	border-bottom: 0px solid #ffffff !important;
	width:140px !important;
	display:block;
}

/** Aktiv **/
ul.lev2 li span, .kat01_on b, a.subkat1_on, a.subkat1_on:visited, a.subkat1_on:hover {
	background:url(gfx/navi-bg-hover2.gif) no-repeat;
	padding:0px 10px 0px 26px !important;
	line-height:24px;
	color:#504D4D !important;
	font-weight:normal;
	text-decoration:none;
	border-bottom: 0px solid #ffffff !important;
	width:140px !important;
	display:block;
}

/** ########################################### **/
/** ########### 2. Unterkategorie ############# **/

/** 2 Unterkategorie **/
ul.lev3 li a, ul.lev3 li a:visited, .kat02 a, .kat02 a:visited, a.subkat2, a.subkat2:visited {
	background:url(gfx/navi-bg3.gif) no-repeat;
	padding:0px 10px 0px 39px !important;
	line-height:24px;
	color:#504D4D !important;
	font-weight:normal;
	text-decoration:none;
	border-bottom: 0px solid #ffffff !important;
	width:131px !important;
	display:block;
}

/** Hover **/
ul.lev3 li a:hover, .kat02 a:hover, a.subkat2:hover {
	background:url(gfx/navi-bg-hover3.gif) no-repeat;
	padding:0px 10px 0px 39px !important;
	line-height:24px;
	color:#ff4304 !important;
	font-weight:normal;
	text-decoration:none;
	border-bottom: 0px solid #ffffff !important;
	width:131px !important;
	display:block;
}

/** Aktiv **/
ul.lev3 li span, .kat02_on b {
	background:url(gfx/navi-bg-hover3.gif) no-repeat;
	padding:0px 10px 0px 39px !important;
	line-height:24px;
	color:#ff4304 !important;
	font-weight:normal;
	text-decoration:none;
	border-bottom: 0px solid #ffffff !important;
	width:131px !important;
	display:block;
}

#crosspromotion .klbox-content .p1 {background: #1e1e1e !important;}
